.wide {
    width: 180px;
}

body {
    background-color: white;
}

.jumbotron {
    margin-top: 10px;
    background-color: white;
    border-width: 1px !important;
}

.panels {
    margin-top: 10px;
}

.choropleth-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}
  
.choropleth-header-logo {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
    font-weight: 600;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

#legend {
    position: absolute;
}